1 24 "Windows10.Manifest"

search                     BITMAP "search.bmp"
barra_pagar                BITMAP "barra_pagar.bmp"
barra_receber              BITMAP "barra_receber.bmp"
agenda_esquerda            BITMAP "agenda_esquerda.bmp"
agenda_direita             BITMAP "agenda_direita.bmp"
barra_atendimento          BITMAP "barra_atendimento.bmp"
barra_sair                 BITMAP "barra_sair.bmp"
barra_cliente              BITMAP "barra_cliente.bmp"
barra_fornecedor           BITMAP "barra_fornecedor.bmp"
barra_vendedor             BITMAP "barra_vendedor.bmp"
barra_produto              BITMAP "barra_produto.bmp"
barra_orçamento            BITMAP "barra_orçamento.bmp"
barra_pedido               BITMAP "barra_pedido.bmp"
barra_vendas               BITMAP "barra_vendas.bmp"
olho_normal                BITMAP "olho_normal.bmp"
geral_incluir              BITMAP "geral_incluir.bmp"
geral_alterar              BITMAP "geral_alterar.bmp"
geral_excluir              BITMAP "geral_excluir.bmp"
geral_sair                 BITMAP "geral_sair.bmp"

